/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.libs
/.gitignore
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/aclocal.m4
/autom4te.cache
/config.cache
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.status.lineno
/configure
/configure.lineno
/depcomp
/docs/gtk-doc.make
/install-sh
/libtool
/m4/gtk-doc.m4
/missing
/so_locations
/stamp-h1
/tags
/tests/*.trs
/tests/*.log
*/*.vala.c
*/.deps
*/*.o
*/*.swp
*/Makefile
*/Makefile.in
fleet-commander-*.tar.xz
*_vala.stamp
